<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia&effect=fire">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<div>
    <h1 class="font-effect-fire" 
            style="border: 5px;padding:15px;
            border-radius:30px;
            background-color:blue;
            text-align:center;color:black;
            font-family:sans-serif;
            font-size:x-large;">Post Job</h1>
<body>

<div class="FULLBODY" style="margin-left:2%"   >
    
<div class="FM1">
    <h1 class="font-effect-fire" style="font-family:sans-serif;color:green;">Job Details</h1>
    <label for="course"style="font-family:sans-serif;color:rgba(18, 17, 16, 0.841);font-size:x-large ">Title</b></label><br><br>
    <input class="course" type="text" style="border:none;outline:none;color:gray; font-size:x-large; "placeholder="App Development">
    <hr style="border-top: 2px solid;"><br>
</div>
<div style="margin:auto ;">
    <label for="budget" style="font-family:sans-serif;color:rgba(18, 17, 16, 0.841);font-size:x-large ">Budget</label><br><br>
    <input class="budget" type="Money" style="border:none;outline:none;color:gray; font-size:x-large; "placeholder="$500">
   <hr style="border-top: 2px solid;"><br>
    </div>
<div>
    <label for="deadline" style="font-family:sans-serif;color:rgba(18, 17, 16, 0.841);font-size:x-large ">Deadline</label><br><br>
    <input class="deadline" type="days" style="border:none;outline:none;color:gray; font-size:x-large; "placeholder="30 Days">
   <hr style="border-top: 2px solid;">
</div>
<label for="options" class="type" style="font-family: sans-serif;color:rgba(18,17,0.841);font-size:x-large">Type</label><br><br>
</div>

<div style="margin:0% 0% 0% 10%">
  <button onselect=".type" style="border:none;border-radius:15%;block-size:70px;background-color:blue;font-size:x-large;">
    Hourly
  </button>
  <div class="space" style="display:inline-block;width:40%;hight:auto">
  </div>
  <button onselect=".type" style=" border:none;border-radius: 15%;block-size:70px;background-color:blue;font-size:x-large;">
    Fixed 
  </button>
</div>
<div style="margin:2% 0% 0% 2%;display:block;block-size:auto;">
    <label for="Description" style="font-family: sans-serif;font-size:large">Description</label><br>
    <form action="">
        <textarea class = "description" rows="5" cols="160" placeholder="Overall I rate this freelancer as..." style="font-family: sans-serif;font-size:large;"></textarea><br>
    </form>
</div>


</div>
</div>
</body>
</html>