<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
    <div style="border-style:double;border: rounder 50%;border-color:black;font-color:red;text-align:center;">HELLO FRONTEND DEVELOPERS</div>
        <div style="margin-top:10px;color:blue;text-align:center;">This is another class</div>
            <dir style="color:blue;text-align:left;center; display: block;display-color:blue;">hello</dir>








    </div>
</body>
</html>